@model WebSite.Models.NewsViewsModel
@{
    ViewBag.Title = "NewsAddOrUpdate";
    Layout = "~/Views/Shared/Web_Layout.cshtml";
}
@section head{
    <link href="/Content/kendo/kendo.common.min.css" rel="stylesheet">
    <link href="/Content/kendo/kendo.rtl.min.css" rel="stylesheet">
    <link href="/Content/kendo/kendo.default.min.css" rel="stylesheet">
    <link href="/Content/kendo/kendo.dataviz.min.css" rel="stylesheet">
    <link href="/Content/kendo/kendo.dataviz.default.min.css" rel="stylesheet">


    <script src="/Scripts/kendo/kendo.all.min.js"></script>
    <script src="/Scripts/kendo/cultures/kendo.culture.zh-CN.min.js"></script>
    <script src="/Scripts/kendo/kendo.aspnetmvc.min.js"></script>

    <script type="text/javascript">
        //set current to the "en-GB" culture script
        kendo.culture("zh-CN");
    </script>
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">新闻管理</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    发布新闻
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @using (Html.BeginForm("NewsAddOrUpdate", "Admin", FormMethod.Post))
                            { 
                                @Html.HiddenFor(m=>m.Id)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Title)
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Title, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewsTypeId) <br />
                                    @(Html.Kendo().DropDownList()
                                        .Name("NewsTypeId")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .BindTo((List<SelectListItem>)ViewBag.NewsTypeList)
                                        .Value(Model.NewsTypeId <= 0 ? "1" : Model.NewsTypeId.ToString())
                                     )
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewsContent)
                                    @(Html.Kendo().Editor()
                                      .Name("NewsContent")
                                      .HtmlAttributes(new { style = "width: 940px;height:440px" })                                      
                                      .Tools(tools => tools
                                          .Clear()
                                          .Bold().Italic().Underline().Strikethrough()
                                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                          .InsertUnorderedList().InsertOrderedList()
                                          .Outdent().Indent()
                                          .CreateLink().Unlink()
                                          .InsertImage()                                          
                                          .SubScript()
                                          .SuperScript()
                                          .TableEditing()
                                          .ViewHtml()
                                          .Formatting()
                                          .FontName()
                                          .FontSize()
                                          .FontColor().BackColor()
                                      )
                                      .Value(Model.NewsContent)
                                      .ImageBrowser(imageBrowser => imageBrowser
                                            .Image("~/Images/UserFiles/{0}")
                                            .Read("Read", "ImageBrowser")
                                            .Create("Create", "ImageBrowser")
                                            .Destroy("Destroy", "ImageBrowser")
                                            .Upload("Upload", "ImageBrowser")
                                            .Thumbnail("Thumbnail", "ImageBrowser"))                                         
                                        )
                                    @Html.ValidationMessageFor(m => m.NewsContent, "", new { @style = "color:red" })
                                    </div>                                
                                <button type="submit" class="btn btn-default">提 交</button>
                                <button type="reset" class="btn btn-default">重 置</button>
                            }
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<div id="menu" style="display:none">newsnav</div>
